alembic
boto3
blinker
click
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
openpyxl
psycopg2-binary
python-dotenv
qrcode[pil]
SQLAlchemy
Werkzeug
WeasyPrint
WTForms
email-validator